<footer class="footer footer-vertical px-8 py-16 bg-neutral text-neutral-content whitespace-nowrap line-height-60">
    <div class="max-w-md">
        <img src="~/images/nashfridayshop_logo.svg" alt="Logo" class="mb-4 min-w-1/6 max-w-1/5">

        <p class="font-medium text-lg leading-relaxed opacity-70 italic text-neutral-content">
            "Curating memories from around the world, delivered with love to your doorstep."
        </p>

        <p class="text-[9px] uppercase tracking-[0.4em] opacity-30 font-bold text-neutral-content">© @DateTime.Now.Year - Made with ❤️ by NashFriday</p>
    </div>
</footer>

